{%extends 'base.html' %} {% block title %}services{% endblock title %} {%block body%}

<div class="wedding">
    <h2>Welcome to Wedding Order section</h2>
    <div class="album  ">
        <div class="container">
            <h3>Order for Stalls and Ice-Cream </h3>
            <div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/img/stall (1).jpg" class="d-block w-100" alt="...">


                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/img/stall (2).jpg" class="d-block w-100" alt="...">

                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/img/stall (3).png" class="d-block w-100" alt="...">


                        </div>
                    </div>
                    <div class="stage">
                        <h3>Order for Stage Decoration </h3>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/img/stage (1).jpg" class="d-block w-100" alt="...">


                        </div>
                    </div>
                    <div class="col">
                        <div class="card ">
                            <img src="/static/img/stage (2).jpg" class="d-block w-100" alt="...">


                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/img/stage (3).jpg" class="d-block w-100" alt="...">


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<style>
    .wedding img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }
    
    .col {
        border-radius: 10px;
    }
    
    .card {
        border-radius: 10px;
    }
    
    .stage {
        width: 100%;
    }
    
    h3,
    h2 {
        text-align: center;
    }
    
    body {
        background-color: pink;
    }
</style>

{%endblock body%}